In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as asb

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('sol-usd-max.csv')
df.head()

                snapped_at     price    market_cap  total_volume
0  2020-04-11 00:00:00 UTC  0.957606  7.827652e+06  9.267267e+07
1  2020-04-12 00:00:00 UTC  0.784711  6.173608e+06  4.945869e+07
2  2020-04-13 00:00:00 UTC  0.875994  7.269680e+06  3.782101e+07
3  2020-04-14 00:00:00 UTC  0.786712  6.302364e+06  1.957921e+07
4  2020-04-15 00:00:00 UTC  0.666673  5.306221e+06  1.752353e+07

In [5]:
df.shape

(1569, 4)

In [7]:
df.describe()

             price    market_cap  total_volume
count  1569.000000  1.569000e+03  1.569000e+03
mean     57.945791  2.115858e+10  1.353896e+09
std      60.912219  2.327658e+10  1.669761e+09
min       0.513923  4.171226e+06  5.489101e+05
25%      14.306230  5.000691e+09  2.363849e+08
50%      31.416576  1.022716e+10  7.828483e+08
75%      97.658742  3.381218e+10  1.965476e+09
max     259.239558  9.010785e+10  1.614909e+10

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1569 entries, 0 to 1568
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   snapped_at    1569 non-null   object
 1   price         1569 non-null   float64
 2   market_cap    1569 non-null   float64
 3   total_volume  1569 non-null   float64
dtypes: float64(3), object(1)
memory usage: 49.2+ KB